body {
    width: 20rem;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.header-container {
    text-align: center;
}

form.select-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

select, button {
    flex: 1;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #8ec0e1;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #63b2e6;
}

label {
    display: none;
}
